{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}


<div class="coral-TabPanel-pane is-active" id="coral-1" role="tabpanel" aria-hidden="false">
    <span class="coral-Form-fieldlabel">{{i18n "Learning Path Name"}}</span>
    <div class="se-resource-name">{{title}}</div>

    <span class="coral-Form-fieldlabel">{{i18n "Learning Path ID"}}</span>
    <div class="se-resource-desc">{{resourceUID}}</div>

    <span class="coral-Form-fieldlabel">{{i18n "Learning Path Tags"}}</span>

    <ul class="se-resource-tags">
        {{#each resourceTags}}
            <li class="se-resource-tag">{{this}}</li>
        {{/each}}
    </ul>

    <span class="coral-Form-fieldlabel">{{i18n "Description"}}</span>
    <div class="se-resource-desc">{{description}}</div>

    <span class="coral-Form-fieldlabel">{{i18n "Enforced Order"}}</span>
    <div class="se-resource-name">
        {{#if enforceOrder}}
            {{i18n "Yes"}}
        {{else}}
            {{i18n "No"}}
        {{/if}}
    </div>

    <span class="coral-Form-fieldlabel">{{i18n "Prerequisites"}}</span>
    <div class="se-resource-name">
        {{#if prerequisites}}
            {{#each prerequisites}}
                <div class="se-resource-name">{{this.title}}</div>
            {{/each}}
        {{else}}
            {{i18n "N/A"}}
        {{/if}}
    </div>
</div>
