{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}



<div class="coral-TabPanel-pane is-active" id="coral-3" role="tabpanel" aria-hidden="true">

    <div class="info-page-section">
        <h4 class="info-page-section-heading">{{i18n "Assignees"}}</h4>
        <div class="se-resource-enrolles">

            {{#unless assignees.empty}}
                {{#each assignees.authorizables}}
                    <div class="enrolle-row">
                        <div class="enrolle-thumb"><img src="/etc.clientlibs/settings/wcm/designs/default/resources/social/avatar.png"></div>
                        <div class="enrolle-name">{{authName}}</div>
                        <div class="enrolle-email">{{authId}}</div>
                    </div>
                {{/each}}
            {{/unless}}

        </div>
    </div>


    <div class="info-page-section">
        <h4 class="info-page-section-heading">{{i18n "Learning Path Management"}}</h4>
        <span class="coral-Form-fieldlabel">{{i18n "Status"}}</span>
        {{#if isPublished}}
            <div class="se-resource-publish-status">{{i18n "Published"}}</div>
        {{else}}
            <div class="se-resource-publish-status">{{i18n "Not Published"}}</div>
        {{/if}}
    </div>



    <div class="info-page-section">
        <h4 class="info-page-section-heading">{{i18n "Learning Path Contact"}}</h4>
        <div class="se-resource-enrolles">

            {{#unless contacts.empty}}
                {{#each contacts.authorizables}}
                    <div class="enrolle-row">
                        <div class="enrolle-thumb"><img src="/etc.clientlibs/settings/wcm/designs/default/resources/social/avatar.png"></div>
                        <div class="enrolle-name">{{authName}}</div>
                        <div class="enrolle-email">{{authId}}</div>
                    </div>
                {{/each}}
            {{/unless}}

        </div>

    </div>
</div>
