{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-resetpassword" data-component-id="{{id}}" data-scf-component="social/console/components/hbs/resetpassword">
    <h3>{{i18n "Change Password"}}</h3>
    <form role="form" method="POST" class="scf-js-resetpassword-form">
        <input type="hidden" name="_charset_" value="UTF-8" />
        <div class="form-group">
            <input type="password" placeholder="password" class="scf-js-password form-control" data-attrib="newPwd" name="newPwd" />
            <br/>
            <input type="password" placeholder="Confirm password" class="scf-js-confirmpassword form-control" data-attrib="confirmPwd" name="confirmPwd" />
            <input type="hidden" data-attrib="emailTemplatePath" name="emailTemplatePath" value="{{this.properties.emailTemplatePath}}" />
            <input type="hidden" data-attrib="redirectPath" name="redirectPath" value="{{this.properties.redirectPath}}" />
            <input type="hidden" name=":operation" value="social:resetPassword" />
        </div>
        <div class="form-group">
            <div class="alert alert-danger scf-is-hidden scf-js-resetpassword-alert">{{i18n "Passwords Dont Match"}}</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default scf-js-resetpassword-submit">{{i18n "Submit"}}</button>
        </div>
    </form>
</div>
