{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div id="parentmessagediv" class="parentmessagediv">
    <input type='hidden' name='serviceSelector' value='{{properties.serviceSelector}}' />
    <input type='hidden' name='displayUserType' value='{{properties.displayUserType}}' />
    <input type='hidden' name='dateFormatPatterns' value='{{properties.dateFormatPatterns}}' />
    <input type='hidden' name='messageBoxTarget' value='{{id}}' />
    <input type='hidden' name='currentOffset' value='{{pageInfo.currentIndex}}' />
    <input type='hidden' name='totalMessageCount' value='{{totalSize}}' />
    {{#if items}}
        <form id="selectForm" class="container-fluid" action="">
            {{include this resourceType='social/messaging/components/hbs/messagebox' template='buttons'}}
            <div class='selectAndPaginateDiv row'>
                <div class='col-md-6'>
                    {{i18n "Select: "}}
                    <a class='selectLink allSelector'>
                        {{i18n " All,"}}&nbsp;
                    </a>
                    <a class='selectLink readSelector'>
                        {{i18n "Read,"}}&nbsp;
                    </a>
                    <a class='selectLink unreadSelector'>
                        {{i18n "Unread,"}}&nbsp;
                    </a>
                    <a class='selectLink noneSelector'>
                        {{i18n "None"}}
                    </a>
                </div>
                <div id='paginationTop' class='paginateMessageBox col-md-6'></div>
            </div>
            <div class="messages" id="messages">
                {{#each items}}
                    <div class='messagecontainingrow messageNumber{{@index}} row'>
                        <div class='messageSelector'>
                            <input class='messagecheckbox' type='checkbox' autocomplete='off' name='mailCheckbox' value='{{id}}' />
                        </div>
                        <div class="col-md-11 no-left-margin">
                            <div class='message-action-button-holder'>
                                {{include this resourceType='social/messaging/components/hbs/message' template='list-item'}}
                                <input type='hidden' name='replyTypeValue' value='{{../properties.replyType}}' />
                                <input type='hidden' name='resourcePath' value='{{id}}' />
                                <input type='hidden' name='folderPath' value='{{messageBoxRelativePath}}' />
                                <input type='hidden' name='messageID' value='{{messageID}}' />
                                {{#if ../properties.showMessageOptions}}
                                    <div class='button-holder'>
                                        {{#if ../properties.isTrash}}
                                            <input type='submit' class='messageAction restoreMessageTrashAction btn btn-primary' name='delete' value='{{i18n "Restore"}}' />
                                            <input type='submit' class='messageAction deleteMessageTrashAction btn btn-primary' name='delete' value='{{i18n "Delete"}}' />
                                        {{else}}
                                            <input type='hidden' name='replyTypeValue' value='{{../properties.replyType}}' />
                                            <input type='hidden' name='resourcePath' value='{{id}}' />
                                            <input type='hidden' name='folderPath' value='{{messageBoxRelativePath}}' />
                                            <input type='hidden' name='messageID' value='{{messageID}}' />
                                            <input type='submit' class='messageAction reply btn btn-primary' name='{{../properties.replyURL}}' value='{{i18n "Reply"}}' />
                                            <input type='submit' class='messageAction replyAll btn btn-primary' value='{{i18n "Reply All"}}' />
                                            <input type='submit' class='messageAction forward btn btn-primary' value='{{i18n "Forward"}}' />
                                            <input type='submit' class='messageAction delete btn btn-primary' name="delete" value='{{i18n "Delete"}}' />
                                        {{/if}}
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <div class='paginateAndDisplayUsage row'>
                <div class='usageStatistics inlineDiv'>
                    <input type='hidden' name='maxSize' value='{{userStatistics.maxSize}}' />
                    <input type='hidden' name='size' value='{{userStatistics.size}}' />
                </div>
                <!-- pagination -->
                {{include this resourceType="social/commons/components/hbs/pages"}}
                <!-- eo pagination -->
            </div>
        </form>
    {{else}}
        <div class="emptyMessageBoxSection">
            {{include this resourceType='social/messaging/components/hbs/messagebox' template='buttons'}}
            <div class='displaymessage'>{{i18n "There are no messages present in this section."}}</div>
        </div>
    {{/if}}
</div>
