{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-report-learningpath-user-enrollment-table" data-component-id="{{id}}" data-scf-component="social/enablement/components/hbs/reports/learningpath/userreport/enrollmentreport">
    <div class="scf-table-content scf-js-table-content">
        <div class="scf-users-report-title">
            <h2 class="scf-js-completed-summary scf-summary-item">{{learningPathTitle}} {{i18n "Users Report"}}</h2>
            <div class="scf-js-completed-summary scf-summary-item">{{siteTitle}}: <span class="scf-js-title-date"></span></div>
        </div>
        <div class="scf-users-report-summary">
            <h3 class="scf-summary-item">{{i18n "Summary:"}}</h3>
            <div class="scf-summary-item">{{i18n "Total Assignees:"}} {{totalSize}}</div>
            <div class="scf-summary-item">{{i18n "Total Resources:"}} {{totalResources}}</div>
            <h3 class="scf-js-completed-summary scf-summary-item">{{i18n "User Status:"}}</h3>
            <div class="scf-js-completed-summary scf-summary-item">{{i18n "Users Complete:"}} {{userCompleted}}/{{totalSize}}</div>
            <div class="scf-js-completed-summary scf-summary-item">{{i18n "Average Score Upon Completion:"}} {{averageScore}}</div>
            <div class="scf-js-completed-summary scf-summary-item">{{i18n "Not Started:"}} {{userNotStarted}}</div>
            <div class="scf-js-completed-summary scf-summary-item">{{i18n "In Progress:"}} {{userInProgress}}</div>
            <div class="scf-js-completed-summary scf-summary-item">{{i18n "Completed:"}} {{userCompleted}}</div>
        </div>
        {{#if queryRequest}}
            <table class="scf-table coral-Table" id="user-enrollment-table" width="100%">
                <thead>
                    <tr class="coral-Table-row">
                        <th class="dt-hide coral-Table-headerCell">{{i18n "User ID"}}</th>
                        <th class="coral-Table-headerCell">{{i18n "Last Name"}}</th>
                        <th class="coral-Table-headerCell">{{i18n "First Name"}}</th>
                        <th class="coral-Table-headerCell">{{i18n "Path Completion Status"}}</th>
                        <th class="coral-Table-headerCell">{{i18n "Number of Resources Completed"}}</th>
                        <th class="dt-hide coral-Table-headerCell">{{i18n "Start Date"}}</th>
                        <th class="dt-hide coral-Table-headerCell">{{i18n "Completion Date"}}</th>
                        <th class="coral-Table-headerCell">{{i18n "Score Achieved"}}</th>
                        <th class="coral-Table-headerCell">{{i18n "Total Comments"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                        <tr class="coral-Table-row">
                            <td class="coral-Table-cell">{{userId}}</td>
                            <td class="coral-Table-cell">
                                <a href="/communities/learningpath/assignee-report.html{{../resourcePath}}?user={{userPath}}" target="_blank">
                                    {{lastName}}
                                </a>
                            </td>
                            <td class="coral-Table-cell">{{firstName}}</td>
                            <td class="coral-Table-cell">{{i18n completionStatus}}</td>
                            <td class="coral-Table-cell">{{i18n successStatus}}</td>
                            <td class="coral-Table-cell">{{dateUtil startDate format=../localeDateFormat}}</td>
                            <td class="coral-Table-cell">{{dateUtil completeDate format=../localeDateFormat}}</td>
                            <td class="coral-Table-cell">{{score}}</td>
                            <td class="coral-Table-cell">{{commentCount}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <coral-wait size="L" centered>
            </coral-wait>
        {{/if}}
    </div>
</div>
{{includeClientLib categories="cq.social.author.enablement.hbs.reports.learningpath.enrollmentreport" }}
