{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2015 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div class="scf-communities-report-form-wrapper coral-Form-fieldwrapper" id="scf-js-analytics-componentlist">
    <label class="coral-Form-fieldlabel">{{i18n "Content Type"}}</label>
    <coral-autocomplete id="scf-js-analytics-componentfilter" class="coral-Form-field" placeholder="{{i18n "Search"}}" icon="search">
        <coral-autocomplete-item value="QnA|social/qna/components/hbs/qnaforum,QnA Question|social/qna/components/hbs/topic,Forum|social/forum/components/hbs/forum,Forum Topic|social/forum/components/hbs/topic,Blog|social/journal/components/hbs/journal,Blog Article|social/journal/components/hbs/entry_topic,Calendar|social/calendar/components/hbs/calendar,Calendar Event|social/calendar/components/hbs/event">{{i18n "All"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="Forum|social/forum/components/hbs/forum">{{i18n "Forum"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="Forum Topic|social/forum/components/hbs/topic">{{i18n "Forum Topic"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="QnA|social/qna/components/hbs/qnaforum">{{i18n "QnA"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="QnA Question|social/qna/components/hbs/topic">{{i18n "QnA Question"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="Blog|social/journal/components/hbs/journal">{{i18n "Blog"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="Blog Article|social/journal/components/hbs/entry_topic">{{i18n "Blog Article"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="Calendar|social/calendar/components/hbs/calendar">{{i18n "Calendar"}}</coral-autocomplete-item>
        <coral-autocomplete-item value="Calendar Event|social/calendar/components/hbs/event">{{i18n "Calendar Event"}}</coral-autocomplete-item>
    </coral-autocomplete>
</div>
