{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<coral-masonry class="foundation-collection foundation-layout-masonry" layout="fixed-spread" columnwidth="242" spacing="15">
    <coral-masonry-item class="foundation-collection-item">
        <coral-card class="globalnav-navigator globalnav-anchor" colorhint="#ffffff" assetwidth="242" assetheight="242" data-globalnav-navigator-href="{{getContextPath ''}}/communities/reports/assignments" data-globalnav-anchor-href="{{getContextPath ''}}/communities/reports/assignments">
            <coral-card-content>
                <coral-card-asset>
                    <div class="globalnav-overlay-preview-card-icon globalnav-homecard-title">
                        <coral-icon icon="newsAdd" size="XXL"></coral-icon>
                    </div>
                </coral-card-asset>
                <coral-card-title>{{i18n "Assignments Report"}}</coral-card-title>
            </coral-card-content>
        </coral-card>
    </coral-masonry-item>

    <coral-masonry-item class="foundation-collection-item">
        <coral-card class="globalnav-navigator globalnav-anchor" colorhint="#ffffff" assetwidth="242" assetheight="242" data-globalnav-navigator-href="{{getContextPath ''}}/communities/reports/posts" data-globalnav-anchor-href="{{getContextPath ''}}/communities/reports/posts">
            <coral-card-content>
                <coral-card-asset>
                    <div class="globalnav-overlay-preview-card-icon globalnav-homecard-title">
                        <coral-icon icon="news" size="XXL"></coral-icon>
                    </div>
                </coral-card-asset>
                <coral-card-title>{{i18n "Posts Report"}}</coral-card-title>
            </coral-card-content>
        </coral-card>
    </coral-masonry-item>

    <coral-masonry-item class="foundation-collection-item">
        <coral-card class="globalnav-navigator globalnav-anchor" colorhint="#ffffff" assetwidth="242" assetheight="242" data-globalnav-navigator-href="{{getContextPath ''}}/communities/reports/views" data-globalnav-anchor-href="{{getContextPath ''}}/communities/reports/views">
            <coral-card-content>
                <coral-card-asset>
                    <div class="globalnav-overlay-preview-card-icon globalnav-homecard-title">
                        <coral-icon icon="viewOn" size="XXL"></coral-icon>
                    </div>
                </coral-card-asset>
                <coral-card-title>{{i18n "Views Report"}}</coral-card-title>
            </coral-card-content>
        </coral-card>
    </coral-masonry-item>
</coral-masonry>
