{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div>
    <div class="social-console-settings-tab social-console-edit-settings-tab">
        <div class="coral-TabPanel coral-TabPanel--large scf-js-settingstabs" data-init="tabs">
            <nav class="coral-TabPanel-navigation">
                <a class="coral-TabPanel-tab is-active" data-toggle="tab">{{i18n "Basic"}}</a>
                <a class="coral-TabPanel-tab" data-toggle="tab">{{i18n "Structure"}}</a>
                <a class="coral-TabPanel-tab" data-toggle="tab">{{i18n "Design"}}</a>
                <a class="coral-TabPanel-tab" data-toggle="tab">{{i18n "Settings"}}</a>
                <a class="coral-TabPanel-tab" data-toggle="tab">{{i18n "Membership"}}</a>
                <a class="coral-TabPanel-tab" data-toggle="tab">{{i18n "Thumbnail"}}</a>
            </nav>
            <div class="coral-TabPanel-content">
                <section class="coral-TabPanel-pane is-active">{{include this resourceType="social/group/components/hbs/editcommunitygroup" template="basictab" authoringDisabled='true'}}</section>
                <section class="coral-TabPanel-pane is-active">
                    {{modifycontext this key="trackChanges" value="true"}} {{modifycontext this key="functionsTitle" value="Group Structure"}} {{include this resourceType="social/console/components/hbs/draggablecommunityfunctions" authoringDisabled = 'true'}}
                </section>
                <section class="coral-TabPanel-pane is-active">{{include this resourceType="social/group/components/hbs/editcommunitygroup" template="designtab" authoringDisabled='true'}}</section>
                <section class="coral-TabPanel-pane is-active">{{include this resourceType="social/group/components/hbs/editcommunitygroup" template="settingstab" authoringDisabled='true'}}</section>
                <section class="coral-TabPanel-pane is-active">{{include this resourceType="social/group/components/hbs/editcommunitygroup" template="membershiptab" authoringDisabled='true'}}</section>
                <section class="coral-TabPanel-pane is-active">{{include this resourceType="social/group/components/hbs/editcommunitygroup" template="thumbnailtab" authoringDisabled='true'}}</section>
                <section class="coral-TabPanel-pane">
                    {{#include this.id path="extendednavsec" resourceType="social/console/components/hbs/extendednav" }}
                        { "configPath" : "/content/communities/groupsettingsnav" }
                    {{/include}}
                </section>
            </div>
        </div>
    </div>
</div>
