{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2013 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}
<div data-component-id="{{id}}" data-scf-component="social/reviews/components/hbs/reviews">
    <div class='scf-comment-system scf scf-reviews'>
        <ul class='scf-comments-list'>
            {{#each items}}
                {{#if isVisible}}
                    {{include this resourceType='social/reviews/components/hbs/reviews/review'}}
                {{/if}}
            {{/each}}
        </ul>
        <div class="scf-pages">
            <ul class="scf-pages-list">
                {{#pages pageInfo}}
                    <li class="scf-pages-list-item">
                        <a class="scf-page{{#if currentPage}} scf-currentPage{{/if}}" data-page-suffix="{{suffix}}" evt="click=navigate">{{pageNumber}}</a>
                    </li>
                {{/pages}}
            </ul>
        </div>
        {{#if loggedInUser.loggedIn}}
            <input type='button' class='btn btn-primary scf-create-review-button' value='Create your review' evt='click=toggleCreateReviewForm' {{#if currentUserResponse}} disabled {{/if}} />
            <div class="scf-review-form scf-composer-block scf-is-collapsed scf-js-composer-block">
                <img class="scf-composer-avatar" src="{{loggedInUser.avatarUrl}}"></img>
                <form evt="submit=addReview" class="scf-composer scf-review-composer">
                    <div class="scf-review-form-label-bold">Review this:
                        {{#if compositeRating}}{{else}}&nbsp;*{{/if}}
                    </div>
                    {{#each allowedRatings}}
                        <div class="scf-review-form-label">
                            {{#if ../compositeRating}}{{this.name}}
                                {{#if this.required}}&nbsp;*:{{/if}}
                            {{/if}}
                        </div>
                        <div class='social ratings'>
                            <div class='scf-ratings-stars'>
                                <div class='scf-ratings-bar-empty' evt='mouseleave=resetHighlights'>
                                    <div class='scf-ratings-bar scf-ratings-full' data-rating-shown='0-0'>
                                        <div class='scf-rating-trigger-bar'>
                                            <div class='scf-ratings-star' data-rating-value='1' data-type='{{this.name}}' evt='click=rate,mouseenter=highlight'></div>
                                            <div class='scf-ratings-star' data-rating-value='2' data-type='{{this.name}}' evt='click=rate,mouseenter=highlight'></div>
                                            <div class='scf-ratings-star' data-rating-value='3' data-type='{{this.name}}' evt='click=rate,mouseenter=highlight'></div>
                                            <div class='scf-ratings-star' data-rating-value='4' data-type='{{this.name}}' evt='click=rate,mouseenter=highlight'></div>
                                            <div class='scf-ratings-star' data-rating-value='5' data-type='{{this.name}}' evt='click=rate,mouseenter=highlight'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <br/>
                    {{#if configuration.isRTEEnabled}}
                        <textarea class="scf-composer-msg scf-rte-placeholder" placeholder="{{i18n "Write a comment"}}" evt="click=expandComposer"></textarea>
                        <div class="scf-rte-composer">
                            <textarea class="scf-composer-msg" data-attrib="message" data-field-type="rte" name="message" placeholder="{{i18n "Write a comment"}}"></textarea>
                        </div>
                    {{else}}
                        <textarea class="scf-composer-msg" data-attrib="message" name="message" placeholder="{{i18n "Write a comment"}}" evt="click=expandComposer"></textarea>
                    {{/if}}
                    <div class='scf-composer-toolbar'>
                        {{#if configuration.isAttachmentAllowed}}
                            <button class="btn btn-primary scf-composer-action scf-composer-attach" evt="click=openAttachmentDialog">{{i18n "Attach"}}</button>
                            <input class="scf-comment-attachment-input scf-js-cmt-att-input" type="file" data-attrib='attachment' name="attachment" multiple evt="change=renderAttachmentList" />
                        {{/if}}
                        <div class="scf-composer-actions">
                            <button type="reset" class="btn btn-default scf-composer-action" evt="click=cancelComposer">{{i18n "Cancel"}}</button>
                            <input type="submit" class="btn btn-primary" value="{{i18n "Post"}}" evt="submit=addReview" />
                        </div>
                        {{#if configuration.isAttachmentAllowed}}
                            <div class="scf-composer-attachments">
                                <ul class="scf-attachment-list scf-js-composer-att"></ul>
                            </div>
                        {{/if}}
                    </div>
                </form>
            </div>
        {{/if}}
    </div>
</div>
