{{!

 ADOBE CONFIDENTIAL
 __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

}}

<div class="content scf-js-cq-social-themes social-themes" data-component-id="{{id}}" data-scf-component="social/console/components/hbs/createsitetemplate/communityfunctions">
    <ul class="scf-js-community-function-list draggable" data-component-id="{{id}}" data-init="draggable-list" data-allow="reorder  drop">
        {{#each structure}}
            <li data-function-path="{{function.id}}" class="scf-is-list-added-item">
                <span class="scf-func-title-grp">
            <span class="scf-is-func-title">{{i18n title}}</span>
                <span class="scf-func-name">{{i18n function.title}}</span>
                </span>
                <i class="coral-Icon coral-Icon--apps scf-console-list-move"></i>
                <i class="coral-Icon coral-Icon--delete scf-console-list-item-icon scf-js-list-remove scf-js-item-action"></i>
                <i class="coral-Icon coral-Icon--gear scf-console-list-item-icon scf-js-list-edit scf-js-item-action"></i>
            </li>
        {{/each}}
    </ul>
</div>
